@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

main .section-4 .container button, main .section-1 .buttons button {
  width: 80vw;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main .section-4 .container button:hover, main .section-1 .buttons button:hover {
  cursor: pointer;
  background-color: rgb(168, 59, 59);
}
@media (min-width: 1024px) {
  main .section-4 .container button, main .section-1 .buttons button {
    width: 250px;
    height: 70px;
  }
}

header {
  width: 100%;
}
@media (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 50px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(rgb(131, 0, 0)), to(rgb(0, 0, 0)));
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(131, 0, 0), rgb(0, 0, 0));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
}
header nav ul {
  display: none;
}
@media (min-width: 1024px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    font-weight: 500;
  }
}
@media (min-width: 1600px) {
  header nav ul {
    font-size: 18px;
    gap: 80px;
  }
}
header nav ul li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  transition: all 0.5s ease;
}
header nav ul li a:hover {
  color: red;
}
header nav ul li a:hover::after {
  content: "";
  width: 150%;
  height: 4px;
  border-radius: 10px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
}
header nav ul li a:hover::before {
  content: "";
  width: 160%;
  height: 40px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  z-index: -1;
}
header input {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: none;
  border: none;
  background: rgb(27, 27, 27);
  min-width: 130px;
  height: 25px;
  border-radius: 50px;
  padding: 5px 20px;
  color: white;
  font-size: 18px;
  border: 1px solid rgb(44, 44, 44);
}
header input::-webkit-input-placeholder {
  color: gray;
  font-weight: 500;
}
header input::-moz-placeholder {
  color: gray;
  font-weight: 500;
}
header input:-ms-input-placeholder {
  color: gray;
  font-weight: 500;
}
header input::-ms-input-placeholder {
  color: gray;
  font-weight: 500;
}
header input::placeholder {
  color: gray;
  font-weight: 500;
}
@media (min-width: 1600px) {
  header input {
    display: inline-block;
  }
}
header .container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
}
@media (min-width: 1024px) {
  header .container {
    margin: 0 1px;
  }
}
header .container:hover {
  cursor: pointer;
}
header .container img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header .container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: rgb(22, 0, 0);
  color: white;
  font-size: 1em;
  font-family: "Mark Pro", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

main .section-1 {
  margin-top: 0px;
  width: 100%;
  height: 70vh;
  background-image: url("../images/valorant-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  main .section-1 {
    height: 90vh;
    padding-bottom: 50px;
    background-position: right;
  }
}
@media (min-width: 1024px) {
  main .section-1 {
    height: 100vh;
    padding-bottom: 80px;
    padding-left: 100px;
  }
  main .section-1 h1 {
    font-size: 46px;
    width: 580px;
  }
  main .section-1 p {
    width: 730px;
    font-weight: 600;
    color: whitesmoke;
  }
}
@media (min-width: 1600px) {
  main .section-1 {
    padding-bottom: 150px;
    padding-left: 150px;
    height: 95vh;
  }
  main .section-1 h1 {
    font-size: 50px;
    font-weight: 800;
    width: 800px;
  }
}
main .section-1 .buttons {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1024px) {
  main .section-1 .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
main .section-1 .buttons .xbox {
  background-color: rgb(1, 0, 36);
  color: white;
}
main .section-2 {
  background-color: rgb(0, 1, 25);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (min-width: 1600px) {
  main .section-2 h3 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 3%;
  }
}
main .section-2 .videos {
  display: grid;
  gap: 30px;
  justify-items: center;
}
@media (min-width: 1024px) {
  main .section-2 .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  main .section-2 .videos {
    grid-template-columns: repeat(4, 1fr);
  }
}
main .section-2 .videos iframe {
  width: 90vw;
  height: 150px;
  border-radius: 8px;
}
@media (min-width: 480px) {
  main .section-2 .videos iframe {
    height: 250px;
  }
}
@media (min-width: 768px) {
  main .section-2 .videos iframe {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  main .section-2 .videos iframe {
    width: 45vw;
    height: 250px;
  }
}
@media (min-width: 1600px) {
  main .section-2 .videos iframe {
    width: 22vw;
    height: 200px;
  }
}
main .section-3 {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  background-color: rgb(0, 15, 7);
}
main .section-3 .roles {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (min-width: 768px) {
  main .section-3 .roles {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 0px;
  }
}
@media (min-width: 1024px) {
  main .section-3 .roles {
    grid-template-columns: repeat(4, 1fr);
  }
}
main .section-3 .roles .char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
main .section-3 .roles .char img {
  width: 80vw;
  height: 110vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  main .section-3 .roles .char img {
    width: 45vw;
    height: 60vw;
  }
}
@media (min-width: 1024px) {
  main .section-3 .roles .char img {
    width: 23vw;
    height: 35vw;
  }
}
main .section-3 .roles .char p {
  text-align: center;
  width: 80%;
  color: lightgray;
}
@media (min-width: 768px) {
  main .section-3 .roles .char p {
    width: 90%;
  }
}
main .section-4 {
  background-image: url("../images/red-bg.png");
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  main .section-4 {
    height: 500px;
  }
}
main .section-4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
main .section-4 .container p {
  text-align: center;
  width: 80%;
  font-weight: 500;
}
@media (min-width: 1024px) {
  main .section-4 .container p {
    width: 600px;
  }
}
main .section-4 .container h2 {
  font-weight: 800;
}
@media (min-width: 1024px) {
  main .section-4 .container h2 {
    font-size: 40px;
  }
}
main .section-4 .container button {
  margin-top: 10px;
  width: 180px;
  height: 60px;
  background-color: rgb(6, 0, 40);
  color: white;
}/*# sourceMappingURL=valorant.css.map */