@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}