//* sizes
$sm: 480px;
$md: 768px;
$l: 1024px;
$xl: 1600px;

//*colors
$lol-btn-color: rgb(190, 159, 0);
$valorant-btn-color: linear-gradient(to right,rgb(249, 32, 104),rgb(188, 0, 56));
$header-li-a-color: rgb(254, 254, 54); 
