@import './reset';
@import './variables';
@import './mixins';
@import './private';
@import './header';
@import './responsive-title';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './footer';


body {
    background-image: url('../images/valorant-cover4.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 300px;

    @media (min-width: $l) {
        height: 40vh;
    }

    @media (min-width: $xl) {
        height: 50vh;
    }

    background-color: rgb(22, 0, 0);
    color: white;
    background-size: cover;
    width: 100%;
    font-size: 1em;
    font-family: 'Mark Pro',
    Arial,
    sans-serif;
    -webkit-font-smoothing: antialiased;
}