@import './reset';
@import './variables';
@import './mixins';
@import './private';
@import './header';
@import './responsive-title';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './footer';


body {
    background-image: url('../images/bg-cover2.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 300px;

    @media (min-width: $l) {
        height: 40vh;
    }

    @media (min-width: $xl) {
        height: 50vh;
    }

    background-color: rgb(22, 0, 0);
    color: white;
    background-size: cover;
    width: 100%;
    font-size: 1em;
    font-family: 'Mark Pro',
    Arial,
    sans-serif;
    -webkit-font-smoothing: antialiased;
}
header {
    @media(min-width: $l) {
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(150, 0, 0), rgb(0, 0, 0));
    } 
}
//* main
main {

    // *button
    .play-now {
        box-sizing: content-box;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -250px;
        margin-top: 400px;
        @include flex-row();
        gap: 15px;
        border: none;
        background: linear-gradient(to right, rgb(255, 27, 19), rgb(255, 85, 85));
        padding: 10px 30px;
        color: whitesmoke;
        border-radius: 16px;
        @include transition;

        &:hover {
            @extend %button-hover;
        }

        @media(min-width: $sm) {
            padding: 10px 35px;
        }

        @media(min-width: $md) {
            padding: 15px 45px;
            gap: 25px;
        }

        @media(min-width: $l) {
            padding: 20px 50px;
            left: 250px;
            top: 180px;
        }

        @media (min-width: $xl) {
            top: 250px;
        }

        .arrow-icon {
            font-size: 30px;
        }

    }



    //* section-3
    .section-3 {
        background-color: rgb(32, 32, 32);
        width: 100%;
        height: auto;
        padding-bottom: 100px;

        .grp {
            @include flex-col();

            @media (min-width: $l) {
                width: fit-content;
                margin: 0 auto;
            }

            h2 {
                padding-top: 50px;

                @media (min-width: $l) {
                    align-self: flex-start;
                }
            }

            .container-1 {
                padding-top: 30px;
                @extend %container-grid;

                @media (min-width: $l) {
                    grid-template-columns: repeat(2, 1fr);
                }

                &__box {
                    @extend %container__box;

                    @media (min-width: $l) {
                        width: 45vw;
                        height: 20vw;
                    }


                    img {
                        @extend %box-img;
                        @include transition;

                        &:hover {
                            @extend %img-hover;

                        }
                    }

                    h6 {
                        @extend %box-h6;

                        @media(min-width: $sm) {
                            left: 5%;
                        }


                        font-weight: 550;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .grp-2 {
            padding-top: 80px;
            @include flex-col();

            @media (min-width: $l) {
                width: fit-content;
                margin: 0 auto;
            }

            h3 {
                text-align: center;

                @media (min-width: $l) {
                    align-self: flex-start;
                }
            }

            .container-2 {
                padding-top: 30px;
                @extend %container-grid;

                @media (min-width: $l) {
                    grid-template-columns: repeat(2, 1fr);
                }

                &__box-2 {
                    @extend %container__box;
                    @include transition;

                    &:hover {
                        @extend %img-hover;

                    }

                    @media (min-width: $l) {
                        width: 45vw;
                        height: 20vw;
                    }

                    img {
                        @extend %box-img;

                    }

                    h6 {
                        @extend %box-h6;

                        @media(min-width: $sm) {
                            left: 5%;

                        }

                    }
                }
            }
        }

        .grp-3 {
            padding-top: 80px;
            @include flex-col();

            @media (min-width: $l) {
                width: fit-content;
                margin: 0 auto;
            }

            h3 {
                text-align: center;

                @media (min-width: $l) {
                    align-self: flex-start;
                }
            }

            .container-3 {
                padding-top: 30px;
                @extend %container-grid;

                @media (min-width: $l) {
                    grid-template-columns: repeat(2, 1fr);
                }

                &__box-3 {
                    @extend %container__box;

                    @media (min-width: $l) {
                        width: 45vw;
                        height: 20vw;
                    }

                    img {
                        @extend %box-img;
                        @include transition;

                        &:hover {
                            @extend %img-hover;
                        }
                    }

                    h6 {
                        @extend %box-h6;

                        @media(min-width: $sm) {
                            left: 5%;

                        }
                    }
                }
            }
        }
    }

    //* section-4
    .section-4 {
        width: auto;
        height: auto;

        .container {
            width: 100%;
            height: 100%;

            @media (min-width: $l) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .box-1 {
                width: 100%;
                @include flex-col();

                @media (min-width: $l) {
                    height: 45vw;
                    gap: 50px;
                }

                height: 400px;
                background-color: white;
                color: black;
                @include flex-col();
                gap: 30px;

                @media(min-width: $xl) {
                    height: 35vw;
                    gap: 60px;
                }

                p {
                    text-align: center;
                    width: 70%;
                    color: gray;
                }

                .grp {
                    @include flex-row();
                    gap: 20px;

                    .positions,
                    .offices {
                        width: 30vw;

                        @media (min-width: $md) {
                            width: 200px;
                            height: 150px;
                            padding: 35px 0px;

                            h5 {
                                padding-top: 30px;
                            }
                        }

                        height: 100px;
                        background-color: lightgray;
                        text-align: center;
                        padding: 20px 0px;
                        border-radius: 8px;

                        h5 {
                            padding-top: 10px;
                            color: rgb(95, 95, 95);
                        }
                    }
                }

                a {
                    .careers {
                        width: 60vw;
                        height: 60px;
                        background-color: rgb(255, 50, 50);
                        border: none;
                        color: whitesmoke;
                        font-size: 20px;
                        font-weight: 600;
                        border-radius: 16px;

                        &:hover {
                            @extend %button-hover;
                        }

                        @media (min-width: $md) {
                            width: 500px;
                        }

                        @media (min-width: $l) {
                            width: 400px;
                            height: 70px;
                        }

                        @media (min-width: $xl) {
                            width: 500px;
                        }
                    }
                }
            }

            img {
                width: 100%;
                height: 100vw;
                object-fit: cover;

                @media (min-width: $l) {
                    height: 45vw;
                }

                @media (min-width: $xl) {
                    height: 35vw;
                }
            }

        }
    }


    .section-5 {
        margin-top: -220px;
        padding-top: 100px;
        width: 100%;
        height: 110vh;
        background: linear-gradient(to right, black, rgb(60, 0, 0));

        @media(min-width: $l) {
            margin-top: 270px;
            height: 130vh;
        }

        @media(min-width: $xl) {
            margin-top: 350px;
            height: 100vh;
        }

        h2 {
            padding-left: 10%;

            @media(min-width: $xl) {
                padding-left: 6%;
            }
        }

        .container {
            margin-top: 50px;
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 50px;

            @media(min-width: $xl) {
                grid-template-columns: repeat(2, 1fr);
                padding-left: 6%;

            }

            .jet-box {
                @include flex-col;
                width: 80vw;
                height: 20vh;
                gap: 10px;
                position: relative;

                @media(min-width: $md) {
                    width: 83vw;
                    height: 35vh;
                }

                @media(min-width: $l) {
                    height: 60vh;
                }

                @media(min-width: $xl) {
                    width: 45vw;
                    height: 66vh;
                }

                video {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    border-radius: 8px;
                    border: 1px solid rgba(255, 255, 255, 0.6);
                }
            }

            .info-box {
                display: grid;
                justify-content: center;
                align-items: center;
                gap: 20px;


                @media(min-width: $md) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media(min-width: $xl) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .child-box {
                    position: relative;
                    width: 80vw;
                    height: 10vh;
                    background-color: rgba(32, 32, 32, 0.8);
                    border-radius: 8px;
                    overflow: hidden;
                    @include transition;

                    &:hover {
                        transform: translateY(-10px);
                    }

                    @media(min-width: $md) {
                        width: 40vw;
                        height: 15vh;
                    }


                    iframe {
                        width: 40vw;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;

                        @media(min-width: $md) {
                            width: 20vw;
                        }

                    }

                    h6 {
                        position: absolute;
                        top: 50%;
                        left: 5%;
                        transform: translateY(-50%);
                        width: 40%;
                    }
                }
            }
        }
    }

    .section-6 {
        padding-top: 50px;
        background: linear-gradient(to right, black, rgba(255, 0, 0, 0.5), black);
        width: 100%;
        height: 45vh;
        @media(min-width: $sm) {
            height: 55vh;
        }
        @media(min-width: $md) {
            height: 65vh;
        }
        @media(min-width: $l) {
            padding-top: 80px;
            height: 85vh;
        }
        @media(min-width: $xl) {
            padding-top: 100px;
            height: 115vh;
        }
        h3 {
            text-align: center;
        }

        iframe {
            margin-top: 50px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 80vw;
            height: 25vh;
            border-radius: 16px;
            @media(min-width: $sm) {
                height: 35vh;
            }
            @media(min-width: $md) {
                width: 70vw;
                height: 45vh;
            }
            @media(min-width: $l) {
                height: 55vh;
            }
            @media(min-width: $xl) {
                width: 80vw;
                height: 85vh;
            }
        }
    }
}