@import './reset';
@import './variables';
@import './mixins';
@import './private';
@import './header';
@import './responsive-title';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './footer';

body {
    background-color: rgb(22, 0, 0);
    color: white;
    font-size: 1em;
    font-family: 'Mark Pro',
        Arial,
        sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    @media(min-width: $l) {
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 158, 5), rgb(0, 0, 0));
    }
}

.header-tft {
    color: black;

    &::before {
        content: '';
        width: 160%;
        height: 40px;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: -1;
    }
}

//* main
main {


    .section-1 {


        .container {
            position: relative;
            width: 100%;
            height: 90vh;

            video {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: none;

                @media(min-width: $l) {
                    display: inline-block;


                }

                @media(min-width: $xl) {
                    display: inline-block;
                    height: 130%;
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media(min-width: $l) {
                    display: none;
                }
            }

            .box {
                @include flex-col;
                gap: 50px;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);

                h1 {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.9);
                }

                a {

                    button {
                        color: rgba(255, 255, 255, 0.9);
                        width: 250px;
                        height: 60px;
                        border: 1px solid white;
                        @extend %def-btn;
                        @include transition;
                        &:hover {
                            background: linear-gradient(to right,red,white);
                        }
                        @media(min-width: $l) {
                            width: 300px;
                            height: 70px;

                        }
                    }
                }
            }
        }


    }


    .section-2 {
        margin-top: -100px;
        width: 100%;
        height: auto;
        background-image: url("../images/tft-section-bg5.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50px;

        @media(min-width: $xl) {
            padding-top: 300px;
            margin-top: -150px;
        }
        

        .container-1 {
            background-image: url("../images/tft-section-bg5.webp");
            background-size: cover;
            background-position: center;
            display: grid;
            justify-items: center;
            align-items: center;
            padding-top: 100px;
            gap: 30px;
            @media(min-width: $l) {
                padding-left: 5%;
            }
            @media(min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0px;

            }

            .box-1 {
                @media(min-width: $md) {
                    order: 2;
                }
                @media(min-width: $l) {
                    align-items: flex-start;
                    padding-left: 30px;
                }

                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }

                }

                h2 {
                    text-align: center;
                    @media(min-width: $l) {
                        text-align: start;
                    }
                }

                a {

                    button {
                        width: 200px;
                        height: 60px;
                        @extend %def-btn;
                        @include transition;
                        &:hover {
                            background: linear-gradient(to right,red,white);

                        }
                    }
                }
            }

            img {
                width: 80vw;

                @media(min-width: $md) {
                    width: 40vw;

                }

                @media(min-width: $l) {
                    width: 50vw;

                }

                @media(min-width: $xl) {
                    width: 40vw;

                }
            }
        }

        .container-2 {
            background-image: url("../images/tft-section-bg-4.webp");
            background-size: cover;
            background-position: center;
            @media(min-width: $xl) {
                padding-inline: 100px;
            }
            padding-top: 100px;
            padding-bottom: 100px;
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 30px;

            @media(min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0px;

            }

            .box-2 {
                @media(min-width: $l) {
                    align-items: flex-start;
                    padding-left: 15%;
                }
                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }
                }

                h2 {
                    text-align: center;
                }


            }

            video {
                width: 80vw;

                @media(min-width: $md) {
                    width: 40vw;

                }

            }


        }

        .container-3 {
            background-image: url("../images/tft-section-bg3.webp");
            background-size: cover;
            background-position: center;
            padding-top: 100px;
            padding-bottom: 100px;
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 30px;

            @media(min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0px;
            }
            @media(min-width: $l) {
                gap: 50px;
                padding-left: 5%;
            }

            .box-3 {
                @media(min-width: $md) {
                    order: 2;
                }
                @media(min-width: $l) {
                    align-items: flex-start;
                }

                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }
                }

                h2 {
                    text-align: center;
                }

                a {

                    button {
                        width: 180px;
                        height: 60px;
                        @extend %def-btn;
                        @include transition;
                        &:hover {
                            background: linear-gradient(to right,red,white);

                        }
                    }
                }
            }

            img {
                width: 80vw;

                @media(min-width: $md) {
                    width: 40vw;

                }

                @media(min-width: $l) {
                    width: 50vw;

                }

                @media(min-width: $xl) {
                    width: 40vw;

                }
            }
        }

        .container-4 {
            background-image: url("../images/tft-section-bg2.webp");
            background-size: cover;
            background-position: center;
            @include flex-col;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
            @media(min-width: $xl) {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }

            .box-4 {
                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }
                    @media(min-width: $xl) {
                        width: 100%;
                    }
                }

                h2 {
                    text-align: center;

                    @media(min-width: $l) {
                        text-align: start;
                    }
                }

            }

            iframe {
                width: 80vw;
                height: 40vw;
                margin-top: 30px;
            }
        }
    }

    .middle-container {
        position: relative;
        width: 100%;
        height: 400px;
        background-image: url("../images/tft-section-bg.webp");
        background-size: cover;

        @media(min-width: $md) {
            height: 500px;
        }

        @media(min-width: $l) {
            height: 600px;
        }

        .main-box {
            @include flex-col;
            position: absolute;
            width: 100%;
            height: 100%;
            gap: 20px;

            p {
                width: 80%;

                @media(min-width: $md) {
                    width: 50%;
                }

                @media(min-width: $xl) {
                    width: 35%;
                }
            }

            @media(min-width: $md) {
                align-items: flex-start;
                padding-left: 5%;
            }

            h2 {
                @media(min-width: $l) {
                    width: 20%;
                }

                @media(min-width: $xl) {
                    width: 100%;
                }
            }
        }
    }


    .section-3 {
        width: 100%;
        height: fit-content;
        background-image: url("../images/tft-section-bg6.webp");
        background-position: center;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 150px;
        @include flex-col;
        gap: 50px;

        h3 {
            align-self: self-start;
            padding-left: 5%
        }

        .container {
            @include flex-col;
            gap: 30px;

            @media(min-width: $l) {
                @include flex-row;
                gap: 40px;
            }

            @media(min-width: $xl) {
                gap: 50px;
            }

            iframe {
                width: 80vw;
                height: 40vw;

                @media(min-width: $l) {
                    width: 28vw;
                    height: 16vw;
                }
            }

        }
    }



    .section-4 {
        background-image: url("../images/tft-chess.webp");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
        @media(min-width: $md) {
            height: 60vh;
        }
        .container {
            width: fit-content;
            height: fit-content;
            position: relative;
            top: 20%;
            left: 50%;
            transform: translate(-50%, 50%);
            @include flex-col;
            gap: 30px;

            h3 {
                text-align: center;
            }
    
            button {
            
                @extend %def-btn;
                width: 200px;
                height: 60px;
            }
        }
    }
}