@import './reset';
@import './variables';
@import './mixins';
@import './private';
@import './header';
@import './responsive-title';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './footer';

body {
    background-color: rgb(22, 0, 0);
    color: white;
    font-size: 1em;
    font-family: 'Mark Pro',
        Arial,
        sans-serif;
    -webkit-font-smoothing: antialiased;
}

.header-tft {
    color: $header-li-a-color;

    &::before {
        content: '';
        width: 160%;
        height: 40px;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        z-index: -1;
    }
}

//* main
main {


    .section-1 {


        .container {
            position: relative;
            width: 100%;
            height: 90vh;

            video {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: none;

                @media(min-width: $l) {
                    display: inline-block;


                }

                @media(min-width: $xl) {
                    display: inline-block;
                    height: 130%;
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media(min-width: $l) {
                    display: none;
                }
            }

            .box {
                @include flex-col;
                gap: 50px;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);

                h1 {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.9);
                }

                a {

                    button {
                        color: rgba(255, 255, 255, 0.9);
                        width: 250px;
                        height: 60px;
                        border: 1px solid white;
                        @extend %def-btn;

                        @media(min-width: $l) {
                            width: 300px;
                            height: 70px;

                        }
                    }
                }
            }
        }


    }


    .section-2 {
        width: 100%;
        height: auto;
        background-image: url("../images/tft-main-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50px;
        padding-bottom: 100px;

        @media(min-width: $xl) {
            padding-top: 300px;
        }

        .container-1 {

            display: grid;
            justify-items: center;
            align-items: center;
            gap: 30px;

            @media(min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0px;

            }

            .box-1 {
                @media(min-width: $md) {
                    order: 2;
                }

                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }

                }

                h2 {
                    text-align: center;
                }

                a {

                    button {
                        width: 200px;
                        height: 60px;
                        @extend %def-btn;

                    }
                }
            }

            img {
                width: 80vw;

                @media(min-width: $md) {
                    width: 40vw;

                }

                @media(min-width: $l) {
                    width: 50vw;

                }

                @media(min-width: $xl) {
                    width: 40vw;

                }
            }
        }

        .container-2 {
            margin-top: 200px;
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 30px;

            @media(min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0px;

            }

            .box-2 {
                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }
                }

                h2 {
                    text-align: center;
                }


            }

            video {
                width: 80vw;

                @media(min-width: $md) {
                    width: 40vw;

                }

            }


        }

        .container-3 {
            margin-top: 200px;
            display: grid;
            justify-items: center;
            align-items: center;
            gap: 30px;

            @media(min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0px;

            }

            .box-3 {
                @media(min-width: $md) {
                    order: 2;
                }

                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }
                }

                h2 {
                    text-align: center;
                }

                a {

                    button {
                        width: 180px;
                        height: 60px;
                        @extend %def-btn;

                    }
                }
            }

            img {
                width: 80vw;

                @media(min-width: $md) {
                    width: 40vw;

                }

                @media(min-width: $l) {
                    width: 50vw;

                }

                @media(min-width: $xl) {
                    width: 40vw;

                }
            }
        }

        .container-4 {
            margin-top: 100px;
            @include flex-col;
            gap: 30px;

            @media(min-width: $xl) {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }

            .box-4 {
                @include flex-col;
                gap: 30px;

                p {
                    width: 80%;

                    @media(min-width: $md) {
                        width: 60%;
                    }
                }

                h2 {
                    text-align: center;

                    @media(min-width: $l) {
                        text-align: start;
                    }
                }

            }

            iframe {
                width: 80vw;
                height: 40vw;
                margin-top: 30px;

                @media(min-width: $xl) {
                    width: 80vw;

                }
            }
        }
    }

    .middle-container {
        margin-top: 100px;
        position: relative;
        width: 100%;
        height: 400px;
        background-image: url("../images/tft-mid-img.webp");
        background-size: cover;

        @media(min-width: $md) {
            height: 500px;
        }

        @media(min-width: $l) {
            height: 600px;
        }

        .main-box {
            @include flex-col;
            position: absolute;
            width: 100%;
            height: 100%;
            gap: 20px;

            p {
                width: 80%;

                @media(min-width: $md) {
                    width: 50%;
                }

                @media(min-width: $xl) {
                    width: 35%;
                }
            }

            @media(min-width: $md) {
                align-items: flex-start;
                padding-left: 5%;
            }

            h2 {
                @media(min-width: $l) {
                    width: 20%;
                }

                @media(min-width: $xl) {
                    width: 100%;
                }
            }
        }

        a {
            button {
                margin-top: 30px;
                width: 200px;
                height: 60px;
                @extend %def-btn;
            }
        }
    }
}