@import './reset';
@import './variables';
@import './mixins';
@import './private';
@import './header';
@import './responsive-title';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './footer';

body {
    background-color: rgb(234, 234, 234);
    font-size: 1em;
    font-family: 'Mark Pro',
        Arial,
        sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    @media(min-width: $l) {
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(150, 75, 0), rgb(0, 0, 0));
    } 
}

.header-valorant {
    color: black;

    &::before {
        content: '';
        width: 160%;
        height: 40px;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: -1;
    }
}

main {
    margin-top: 200px;
    margin-bottom: 50px;
    width: 80vw;
    height: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    @media(min-width: $xl) {
        width: fit-content;
        
    }

    h1 {
        margin-bottom: 100px;
    }

    section {
        margin-top: 200px;
        @include flex-col;
        align-items: flex-start;
        gap: 20px;

        p {
            @media(min-width: $xl) {
                width: 60vw;
            }
        }

        img {
            width: 80vw;
            height: 20vh;
            object-fit: cover;
            @media(min-width: $sm) {
                height: 30vh;
            }
            @media(min-width: $md) {
                height: 50vh;
            }
            @media(min-width: $l) {
                height: 60vh;
            }
            @media(min-width: $xl) {
                width: 60vw;
                height: 60vh;
            }
        }
        
    }
}

.section-1 {
    margin-top: 50px;
}